<div class="container">
  <div class="row">
    <% @flats.each do |flat| %>
    <div class="col-sm-4">
      <div class="card mt-5">
          <% if flat.photo.attached? %>
              <%= cl_image_tag flat.photo.key, :width=>300, :height=>250, crop: :fill, class:'card-img-top' %>
          <% else %>
              <%= 'No Image' %>
          <% end %>
        <div class="card-body">
          <p class='card-title'><strong><%= flat.city  %> , <%=  flat.address %></strong></p>
          <p class='no-margin'> Hôte : <%= flat.user.nickname %></p>
          <p class='text-align-start card-text'><strong><%= flat.price %> €</strong> par nuit</p>
          <p><%= link_to 'Détail ->', flat_path(flat.id), class:'btn btn-primary' %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
